.nav-tabs, .topbar ul, ul.contact-info, ul.menu {
  list-style: none !important;
  padding-left: 0;
}

.page-user-login .help.show, .page-user-register .help.show, .page-user-pass .help.show {
  display: block !important;
}

@media (min-width: 992px) {
  .navigation .gva_menu .sub-menu > li:hover > ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  .navigation .gva_menu .sub-menu > li > ul li {
    opacity: 1;
    visibility: visible;
  }
}

img.logo-site {
  display: block !important;
}

.node--view-mode-full .header-title {
  margin-top: 40px;
}

.node--view-mode-full .node__content h1,
.node--view-mode-full .node__content h2 {
  margin: 25px 0;
}
.node--view-mode-full .node__content h3,
.node--view-mode-full .node__content h4 {
  margin: 15px 0;
}
.node--view-mode-full .node__content ul {
  padding-left: 36px;
}
.node--view-mode-full .node__content ul li {
  padding-left: 3px;
}
