.nav-tabs, .topbar ul, ul.contact-info, ul.menu {
  list-style: none !important;
  padding-left: 0;
}

.page-user-login .help.show, .page-user-register .help.show, .page-user-pass .help.show {
  display: block !important;
}

@media (min-width: 992px) {
  .navigation .gva_menu .sub-menu > li:hover > ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  .navigation .gva_menu .sub-menu > li > ul li {
    opacity: 1;
    visibility: visible;
  }
}

img.logo-site {
  display: block !important;
}


/** MENU */
.main-menu .navigation .gva_menu > li > a {
  padding: 35px 5px;
  font-weight: normal;
}

.node {
  color: #36454f;
}
.node table tr th,
.node table tr td {
  vertical-align: top;
}
.node--view-mode-full .header-title {
  margin-top: 0;
  margin-bottom: 30px;
}
.sidebar.sidebar-left .navigation {
  margin-top: 0;
}
.node--view-mode-full .node__content {
  margin-bottom: 30px;
}
.frontpage .node--view-mode-full .node__content {
  margin-bottom: 0;
}
.frontpage .statistic-block p {
  white-space: initial;
  color: #ffffff;
}
.frontpage .statistic-block pre {
  font-family: "Open Sans" !important;
  margin: 0;
}
.frontpage .statistic-block .gsc-heading.style-1 .title-desc {
  margin-top: 0;
}
.frontpage .statistic-block .milestone-block {
  margin: 25px 0;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .item .content-inner {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .center .item .content-inner {
  background: #fff;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .center .item .content-inner .title {
  color: #000000;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .center:hover .item .content-inner {
  background: #3B7EFF;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .center:hover .item .content-inner .title {
  color: #ffffff;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .item .content-inner .icon {
  height: 60%;
  margin: auto 0 0;
}
.frontpage .frontpage-relative-institutions.gsc-service-carousel .item .content-inner .icon .republic-of-serbia {
  background-image: url("/public/images/grb-Srbije.png");
  background-size: auto 100%;
  display: block;
  width: auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100%;
  background-position: center;
}
.frontpage .latest-news .post-style-list .post-block.teaser-2 .post-image {
  height: 200px;
}
.node--view-mode-full .node__content h1,
.node--view-mode-full .node__content h2 {
  margin: 25px 0;
}
.node--view-mode-full .node__content h3,
.node--view-mode-full .node__content h4 {
  margin: 15px 0;
}
.node--view-mode-full .node__content ul {
  padding-left: 36px;
}
.node--view-mode-full .node__content ul li {
  padding-left: 3px;
}
.node--view-mode-full .node__content .item-list ul {
  padding-left: 0;
}
.node--view-mode-full .node__content .item-list ul li {
  padding-left: 3px;
}
.node--view-mode-full .node__content .field--name-field-image {
  text-align: center;
  margin: 20px 0;
}
.gbb-row .bb-inner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.error-404 .error-404-number {
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
  color: #282828;
  line-height: 1;
}
/* FRONT */
.frontpage .frontpage-banners .gsc-service-carousel .item .portfolio-images:after {
  background: transparent;
}
.frontpage .frontpage-banners .gsc-service-carousel .item .content-inner {
  background: transparent;
}
.frontpage .frontpage-banners .gsc-service-carousel .center .item .content-inner {
  background: transparent;
  box-shadow: transparent;
}
.frontpage .frontpage-banners .gsc-service-carousel .item .content-inner .title {
  color: #ffffff;
  text-shadow: 0 1px black;
  background: rgba(0,0,0,0.5);
  padding: 0 10px;
  border-radius: 5px;
}
.frontpage .social-sharing-buttons {
  display: none;
}
/* NODES */
.node--type-page.node--112 .node__content .uk-grid-stack {
  display: block;
}
.node--type-page.node--112 .node__content .uk-grid-stack .el-item.uk-panel .uk-grid{
  display: flex;
}
.node--type-page.node--112 .node__content .uk-grid-stack .el-item.uk-panel .uk-grid .uk-first-column {
  flex: 1;
  min-width: 0;
  flex-basis: 1px;
}
.node--type-page.node--112 .node__content .uk-grid-stack .el-item.uk-panel .uk-grid .uk-flex-last\@m {
  order: 99;
}
.node--type-page.node--112 .node__content .uk-margin .uk-child-width-auto > div{
  display: inline-block;
  vertical-align: middle;
}
.node--type-page.node--112 .node__content .gavias-builder--content .gbb-row-wrapper:last-child {
  margin-bottom: -30px;
}
.node--type-page.node--112 .node__content .gavias-builder--content .gbb-row-wrapper:last-child pre {
  margin-bottom: 0;
}
.node--type-page.node--112 .node__content .gavias-builder--content .gbb-row-wrapper:last-child pre p {
  margin-bottom: 0;
}
.webform-submission-form .form-item input {
  margin-top: 0.25rem;
}
#block-calendarblock .content {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}
.breadcrumbs .breadcrumb-content-inner .breadcrumb-content-main {
  padding: 0;
}
.breadcrumbs .breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links {
  position: relative;
  margin: 0;
}
.breadcrumbs .block.block-system-breadcrumb-block {
  margin: 0;
}
.breadcrumbs .breadcrumb-content-inner {
  margin: 0;
}
.content-main .node__content .field--name-field-tags .field__items .field__item {
  display: inline-block;
  margin: 0 3px 0 0;
  position: relative;
  font-size: 12px;
}
.content-main .node__content .field--name-field-tags .field__items .field__item a {
  border: 1px solid #ccc;
  padding: 12px;
  line-height: 1;
  float: left;
  color: #999;
}
.content-main .node__content .field--name-field-tags .field__items .field__item a:hover {
  background-color: #999;
  color: #ffffff;
}
.node--type-news .content-main .node__content .field.field--label-inline .field__item,
.node--type-news .content-main .node__content .field.field--label-inline .field__label {
  display: inline-block;
  vertical-align: middle;
}
.node--type-news .content-main .node__content .field.field--label-inline .field__label {
  font-weight: bold;
}
.node--type-news .content-main .node__content .field.field--label-inline .field__label:after {
  content: ":";
}
.node--type-news .content-main .node__content .field--name-body {
  margin-top: 20px;
}
.node--type-news .content-main .node__content .field--name-field-slike {
  display: flex;
  margin-top: 20px;
}
.node--type-news .content-main .node__content .field--name-field-slike .field__item {
  margin-right: 5px;
  display: none;
  vertical-align: middle;
  flex: 1 0 24%;
  text-align: center;
  overflow: hidden;
}
.node--type-news .content-main .node__content .field--name-field-slike .field__item img {
  width: 100%;
  height: auto;
}
.node--type-news .content-main .node__content .field--name-field-slike .field__item:nth-child(1),
.node--type-news .content-main .node__content .field--name-field-slike .field__item:nth-child(2),
.node--type-news .content-main .node__content .field--name-field-slike .field__item:nth-child(3),
.node--type-news .content-main .node__content .field--name-field-slike .field__item:nth-child(4),
.node--type-news .content-main .node__content .field--name-field-slike .field__item:nth-child(5){
  display: inline-block;
}
.node--type-news .content-main .node__content .field--name-field-slike span.more-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  color: rgb(161 161 160 / 50%);
}
.post-style-list .post-block .post-image:hover img {
  transform: scale(1.1);
}
.post-style-list .post-block .post-image img {
  transition: transform 2s, filter 2s ease-in-out;
}

